<div class="singInContainer">
  <div>
    <header>
      <h1>Acesse sua conta</h1>
      <h2>Apos entrar aproveite todas as funcionalidades</h2>
    </header>
    <main>
      <sh-input
        label="Email"
        type="email"
        placeholder="Digite seu nome"
        [control]="emailControl"
      ></sh-input>
      <sh-input
        label="Password"
        placeholder="Digite sua senha"
        type="password"
        [control]="passwordControl"
      ></sh-input>

      <sh-button text="Entrar" (click)="onSubmit()"></sh-button>
    </main>

    <footer>
      <span>Nao possui uma conta ? Criar conta</span>
    </footer>
  </div>
</div>
