<div class="singInContainer">
  <div>
    <header>
      <h1>Crie sua conta</h1>
      <h2>Apos criar veja as inumeras possibilidades</h2>
    </header>
    <main>
      <sh-input label="Nome" placeholder="Digite seu nome"></sh-input>
      <sh-input label="Email" placeholder="Digite seu email"></sh-input>
      <sh-input
        label="Password"
        placeholder="Digite sua senha"
        type="password"
      ></sh-input>

      <sh-button text="Criar conta"></sh-button>
    </main>

    <footer>
      <span>Ja tem uma conta ? fazer login</span>
    </footer>
  </div>
</div>
