<div class="singInContainer">
  <div>
    <header>
      <h1>Acesse sua conta</h1>
      <h2>Apos entrar aproveite todas as funcionalidades</h2>
    </header>
    <main>
      <sh-input label="Nome" placeholder="Digite seu nome"></sh-input>
      <sh-input
        label="Email"
        placeholder="Digite seu email"
        type="email"
      ></sh-input>

      <sh-button text="Entrar"></sh-button>
    </main>

    <footer>
      <span>Nao possui uma conta ? Criar conta</span>
    </footer>
  </div>
</div>
