.button {
  padding: 13px 0px;

  width: 100%;

  border: none;
  border-radius: 100px;

  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;

  font: var(--heading3);

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.9);
  }

  &.primary {
    background: var(--linear-blue);
  }

  &.error {
    background: var(--linear-red);
  }

  &.success {
    background: var(--linear-green);
  }
}
